---
import Banner from "../components/Banner.astro";
import PersonCard from "../components/PersonCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='About Us'>
	<Banner url='/about.jpg' />
	<section class='bg-white py-8 px-6 w-full'>
		<div
			class='md:max-w-5xl m-auto grid gap-4 grid-cols-1 md:grid-cols-5 items-center'
		>
			<div class='col-span-3'>
				<h1 class='text-3xl font-light'>About TEDxUCSanDiego</h1>
				<p class='pt-8 pb-4 text-gray-700'>
					TED is an annual event where the world’s leading thinkers and doers
					are invited to share their passions. “TED” stands for Technology,
					Entertainment, Design - three broad subject areas that are shaping our
					future.
				</p>
				<p class='text-gray-700'>
					TEDxUCSanDiego’s mission is to bring together leading thinkers and doers
					to share ideas that matter in and to any discipline - technology,
					entertainment, design, science, humanities, business, development, and
					much more. Through a local forum, we hope to inspire people to change
					their lives, their futures, and ultimately their world.
				</p>
			</div>
			<div class='col-span-2'>
				<img src='/fun.webp' alt='TEDxUCSD members having fun' />
			</div>
		</div>
	</section>
	<section class='bg-white py-8 px-6 w-full'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light pb-8'>Meet The Team</h2>
			<div class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 w-full gap-4'>
				<PersonCard
					name='Shreya Sharma'
					text='Co-Director'
					img='/team/shreya.JPG'
				/>
				<PersonCard
					name='Josh Chen'
					text='Co-Director'
					img='/team/josh.JPG'
				/>
				<PersonCard
					name='Leana Wong'
					text='Co-Director'
					img='/team/leana.jpg'
				/>
				<PersonCard
					name='Atia Fairuz'
					text='Speakers Relations'
					img='/team/atia.jpg'
				/>
				<PersonCard
					name='Ana Roberts'
					text='Speakers Relations'
					img='/team/ana.JPG'
				/>
				<PersonCard
					name='Trista Pradhan'
					text='Speakers Relations'
					img='/team/trista.JPG'
				/>
				<PersonCard
					name='Levy Sahoo'
					text='Speakers Relations'
					img='/team/levy.jpg'
				/>
				<PersonCard
					name='Hetvi Majmudar'
					text='External Affairs'
					img='/team/hetvi.JPG'
				/>
				<PersonCard
					name='Julian Jackson'
					text='External Affairs'
					img='/team/julian.jpg'
				/>
				<PersonCard
					name='Lauren Cadle'
					text='Experience Design'
					img='/team/lauren.JPG'
				/>
				<PersonCard 
					name='Dari Gansukh' 
					text='Finance' 
					img='/team/dari.JPG' 
				/>
				<PersonCard 
					name='Brandon Taing' 
					text='Finance' 
					img='/team/brandon.jpg' 
				/>
				<PersonCard 
					name='Adya Sachdev' 
					text='Finance' 
					img='/team/adya.jpg' 
				/>
				<PersonCard 
					name='Valerie Hua' 
					text='Internal' 
					img='/team/valerie.JPG' 
				/>
				<PersonCard
					name='Esther Zhou'
					text='Internal'
					img='/team/esther.JPG'
				/>
				<PersonCard
					name='Daniel Lu'
					text='Experience Design'
					img='/team/daniel.jpg'
				/>
				<PersonCard
					name='Shafana Shahul'
					text='Experience Design'
					img='/team/shafana.jpg'
				/>
				<PersonCard
					name='Clarrissah Ko'
					text='Experience Design'
					img='/team/clarissah.JPG'
				/>				
				<PersonCard 
					name='Vaidehi Zala' 
					text='Experience Production' 
					img='/team/vaidehi.JPG' 
				/>
				<PersonCard
					name='Darshana Zala'
					text='Experience Production'
					img='/team/darshana.jpg'
				/>
				<PersonCard 
					name='Jo Alturki' 
					text='Experience Production' 
					img='/team/jo.jpg' 
				/>
				<PersonCard 
					name='Catherine Sung ' 
					text='Marketing' 
					img='/team/catherine.JPG' 
				/>
				<PersonCard 
					name='Marcus McNulty' 
					text='Marketing' 
					img='/team/marcus.JPG' 
				/>
				<PersonCard 
					name='Helen Cai' 
					text='Marketing' 
					img='/team/helen.JPG' 
				/>				
				<PersonCard 
					name='Ann Yang' 
					text='Graphic Design' 
					img='/team/ann.JPG' 
				/>		
				<PersonCard 
					name='Rola Abdelwahab' 
					text='Graphic Design' 
					img='/team/rola.JPG' 
				/>				
				<PersonCard 
					name='Grace McIntire' 
					text='Media' 
					img='/team/grace.JPG' 
				/>
				<PersonCard 
					name='Trisha Tong' 
					text='Media' 
					img='/team/trisha.JPG' 
				/>	
			</div>
		</div>
	</section>
</Layout>
