---
import Banner from "../components/Banner.astro";
import PersonCard from "../components/PersonCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='About Us'>
	<Banner url='/about.jpg' />
	<section class='bg-white py-8 px-6 w-full'>
		<div
			class='md:max-w-5xl m-auto grid gap-4 grid-cols-1 md:grid-cols-5 items-center'
		>
			<div class='col-span-3'>
				<h1 class='text-3xl font-light'>About TEDxUCSanDiego</h1>
				<p class='pt-8 pb-4 text-gray-700'>
					TED is an annual event where the world’s leading thinkers and doers
					are invited to share their passions. “TED” stands for Technology,
					Entertainment, Design - three broad subject areas that are shaping our
					future.
				</p>
				<p class='text-gray-700'>
					TEDxUCSanDiego’s mission is to bring together leading thinkers and doers
					to share ideas that matter in and to any discipline - technology,
					entertainment, design, science, humanities, business, development, and
					much more. Through a local forum, we hope to inspire people to change
					their lives, their futures, and ultimately their world.
				</p>
			</div>
			<div class='col-span-2'>
				<img src='/fun.webp' alt='TEDxUCSD members having fun' />
			</div>
		</div>
	</section>
	<section class='bg-white py-8 px-6 w-full'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light pb-8'>Meet The Team</h2>
			<div class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 w-full gap-4'>
				<PersonCard
					name='Grace Chun'
					text='Co-Director'
					img='/team/grace.jpg'
				/>
				<PersonCard
					name='Tienna Chen'
					text='Co-Director'
					img='/team/tienna.jpg'
				/>
				<PersonCard
					name='Shreya Sharma'
					text='Speakers Relations'
					img='/team/shreya.jpg'
				/>
				<PersonCard
					name='Josh Chen'
					text='Speakers Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Dari Gansukh'
					text='Speakers Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Saransh Puri'
					text='Experience Production'
					img='/team/saransh.jpg'
				/>
				<PersonCard
					name='Vaidehi Zala'
					text='Experience Production'
					img='/team/base.png'
				/>
				<PersonCard
					name='Irum Aamer'
					text='Experience Design'
					img='/team/base.png'
				/>
				<PersonCard
					name='Daniel Lu'
					text='Experience Design'
					img='/team/base.png'
				/>
				<PersonCard
					name='Diane Ji'
					text='Finance'
					img='/team/diane.jpg'
				/>
				<PersonCard 
					name='Hannah Chau' 
					text='Internal Relations' 
					img='/team/hannah.jpg' 
				/>
				<PersonCard
					name='Shafana Shahul'
					text='Internal Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Atia Fairuz'
					text='External Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Hetvi Majmudar'
					text='External Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Masha Trachuk'
					text='External Relations'
					img='/team/base.png'
				/>
				<PersonCard
					name='Brianne Jung'
					text='Marketing'
					img='/team/brianne.jpg'
				/>
				<PersonCard 
					name='Valerie Hua' 
					text='Marketing' 
					img='/team/base.png' 
				/>
				<PersonCard 
					name='Ann Yang' 
					text='Marketing' 
					img='/team/base.png' 
				/>
				<PersonCard
					name='Leana Wong'
					text='Graphic Design'
					img='/team/base.png'
				/>
				<PersonCard
					name='Samantha Ta'
					text='Graphic Design'
					img='/team/sam.jpg'
				/>
				<PersonCard 
					name='David Wu' 
					text='Video Editing' 
					img='/team/base.png' 
				/>
			</div>
		</div>
	</section>
</Layout>
