---
import SpeakerFeature from "../components/SpeakerFeature.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
import Countdown from "../components/Countdown.astro";
---

<Layout title='Home'>
	<main class=''>
		<div class='w-full'>
		<img
				class='overflow-clip object-cover w-full h-full'
				src='/banners/tedx-landing-page-banner.png'
				alt='TEDxUCSD Speaker Banner'
		/>
		<section class='bg-white py-8 px-6 w-full'>
			<div class='md:max-w-5xl m-auto text-center mb-6'>
				<h2 class='text-4xl font-medium text-gray-500 italic'>
					TEDxUCSanDiego Presents:
				</h2>
				<!-- <h1 class='text-4xl font-semibold text-ted-red mb-0'>IMITATION</h1> -->
			</div>
			<div class="flex flex-col md:flex-row justify-center items-center gap-6 mb-4">
				<img
					class="object-contain w-[90%] max-w-sm md:max-w-md lg:max-w-lg"
					src="/event-img/2025/imitation.png"
					alt="MC theme"
				/>
			</div>
			<Countdown />
		</section>
		<section class='bg-black py-1'>
			<div class='md:max-w-5xl m-auto text-center mb-6'>
				<h1 class='text-4xl font-semibold text-white mt-6'>Introducing IMITATION</h1>
			</div>
			<div class="mt-8 mb-12 text-white text-xl space-y-2 text-center mx-auto w-fit">
				<p>📅 <span class="font-semibold italic">DATE:</span> Saturday, May 17</p>
				<p>🕒 <span class="font-semibold italic">TIME:</span> 3:00 PM – 7:00 PM</p>
				<p>📍 <span class="font-semibold italic">LOCATION:</span> Price Center Theater, San Diego, California</p>
			</div>			  
			<div class="flex justify-center gap-14 pb-6">
				<a 
					href="https://lu.ma/03sbzbl3" 
					target="_blank" 
					rel="noopener noreferrer" 
					class="bg-ted-red text-white px-6 py-3 rounded-md font-semibold hover:bg-red-700 transition-all shadow-md"
				>
					Register
				</a>
			</div>
			<div class="mt-6 max-w-4xl mx-auto px-4 text-white mb-8">
				<p class="text-base md:text-lg leading-relaxed">
				<strong>“Imitation”</strong> is the act of reshaping existing characteristics into something new. It is behavior, art, invention, and culture that strives to resemble the original. It invites us to reflect on how our surroundings shape identity, and when imitation becomes a tool for understanding—or a call for distinction. 
				From childhood learning to social mimicry, imitation is foundational to how we grow and connect. It can amplify, critique, or transform what it reflects, whether through parody, mirroring, or subtle resemblance—its power lies in perception.
				Does art imitate life, or life imitate art? This age-old question speaks to the cyclical nature of creation. Imitation offers a lens into this loop, challenging us to consider what’s borrowed, what’s new, and what it all means.
				</p>
			</div>
		</section>
		<section class='bg-white text-black py-12'>
			<div class='m-auto text-center max-w-full md:max-w-5xl mb-14'>
				<h1 id="whatIsTedx" class="text-6xl font-semibold mb-4 opacity-0 translate-y-6 transition-all duration-[1100ms]">
					What is <a href="https://www.ted.com/tedx" class='text-ted-red underline' target="_blank" rel="noopener noreferrer">TEDx</a>?
				</h1>
				<p class='text-lg mb-8'>
					In the spirit of ideas worth spreading, TED has created a program called TEDx. 
					TEDx is a program of local, self-organized events that bring people together to 
					share a TED-like experience. Our event is called TEDxUCSD, where x = independently 
					organized TED event. At our TEDxUCSD event, TEDTalks video and live speakers will 
					combine to spark deep discussion and connection in a small group. The TED Conference 
					provides general guidance for the TEDx program, but individual TEDx events, including 
					ours, are self-organized.
				</p>
			</div>
			<img
				class='object-contain w-[90%] h-[50vh] max-w-sm md:max-w-md lg:max-w-lg m-auto mb-4 rounded-2xl'
				src='/event-img/2025/tedx-bear.png'
				alt='tedx bear'
			/>
		</section>			
		<!-- <div class="text-center">
			<div class="flex justify-center">
				<div class="bg-gray-100 border-2 border-gray rounded-md inline-block p-6" style="max-width: 800px; margin: auto; margin-right: 20px; margin-bottom: 40px;">
					<div>
						<h3 class='text-black-600 text-xl mb-6'>
							Main Conference
						</h3>
					</div>
					<div class="flex justify-center gap-14 pb-6">
						<a 
							href="https://docs.google.com/forms/d/e/1FAIpQLSdl9Z1tJLgJjcPQJFXjcsk9cFv8c4BFLeC35mhxIztEQcJvfw/viewform?usp=sf_link" 
							target="_blank" 
							rel="noopener noreferrer" 
							class="bg-ted-red text-white px-6 py-3 rounded-md hover:bg-red-700 transition-all"
						>
							Main Conference Speaker Application
						</a>
					</div>
					<p class="text-gray-700 mb-4" style="max-width: 600px; margin: auto;">
						We select speakers on a rolling basis, based on the power of their idea, 
						interpretation of the theme, and the talk's relevance to audiences from 
						the UC San Diego and greater San Diego community. We are looking for speakers 
						who can discuss the theme of Imitation in a unique way. More info on the form!
					</p>
				</div>
				<div class="bg-gray-100 border-2 border-gray rounded-md inline-block p-6" style="max-width: 800px; margin: auto; margin-left: 20px; margin-bottom: 40px;">
					<div>
						<h3 class='text-black-600 text-xl mb-6'>
							Salon
						</h3>
					</div>
					<div class="flex justify-center gap-14 pb-6">
						<a 
							href="https://docs.google.com/forms/d/e/1FAIpQLSe-PoPUgMBQb8WjhNJBAQn-f6aDfrf_WF_M93O-Yh6WhMFD5A/viewform" 
							target="_blank" 
							rel="noopener noreferrer" 
							class="bg-ted-red text-white px-6 py-3 rounded-md hover:bg-red-700 transition-all"
						>
							Salon Student Speaker Application
						</a>
					</div>
					<p class="text-gray-700 mb-4" style="max-width: 600px; margin: auto;">
						Our salon events are designed to give UCSD students a platform to give their 
						own TED talk on a topic that they are passionate about, while also having the 
						opportunity to engage with the larger student community. The event will take 
						place around week 8 of Winter Quarter. More info on the form!
 					</p>
				</div>
			</div>
		</div> -->
		<button
			id="backToTopBtn"
			class="fixed bottom-6 right-6 bg-ted-red text-white px-4 py-2 rounded-full shadow-md opacity-0 transition-opacity duration-300 hover:bg-red-700 z-50"
			onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
			>
			↑ Top
		</button>
		<script is:inline>
			const backToTopBtn = document.getElementById("backToTopBtn");
			window.addEventListener("scroll", () => {
			  if (window.scrollY > 300) {
				backToTopBtn.style.opacity = "1";
			  } else {
				backToTopBtn.style.opacity = "0";
			  }
			});
			const observer = new IntersectionObserver(
				(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
					entry.target.classList.remove("opacity-0", "translate-y-6");
					entry.target.classList.add("opacity-100", "translate-y-0");
					} else {
					entry.target.classList.remove("opacity-100", "translate-y-0");
					entry.target.classList.add("opacity-0", "translate-y-6");
					}
				});
				},
				{ threshold: 0.3 }
			);

			const tedxHeading = document.getElementById("whatIsTedx");
			observer.observe(tedxHeading);
		</script>
	</main>
</Layout>