---
import SpeakerFeature from "../components/SpeakerFeature.astro";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
---

<Layout title='Home'>
	<main class=''>
		<div class='w-full'>
		<img
				class='overflow-clip object-cover w-full h-full'
				src='/banners/tedx-landing-page-banner.png'
				alt='TEDxUCSD Speaker Banner'
		/>
		<section class='bg-white py-8 px-6 w-full'>
			<div class='md:max-w-5xl m-auto text-center'>
				<div>
					<h2 class='text-3xl font-medium text-gray-500 italic'>
						TEDxUCSanDiego Presents:
					</h2>
					<h1 class='text-5xl font-semibold text-ted-red mb-2'>IMITATION</h1>
					<h3 class='text-gray-600 text-xl mb-8'>More to come soon!</h3>
				</div>
				<!-- <div>
					<p class='py-8 text-gray-700'>
						description
					</p>
					<a class='bg-ted-red text-white p-3 mt-8 inline-block' href='https://lu.ma/wkloh6e6'>Tickets</a>
				</div> -->
			</div>
			<div class="max-w-7xl mx-auto p-4">
				<h2 class='text-xl mb-8 text-center'>Check out some photos from Salon 1: FabricaTED!</h2>
				<Carousel />
			  </div>
		</section>

		<!-- <div class="text-center">
			<div class="flex justify-center">
				<div class="bg-gray-100 border-2 border-gray rounded-md inline-block p-6" style="max-width: 800px; margin: auto; margin-right: 20px; margin-bottom: 40px;">
					<div>
						<h3 class='text-black-600 text-xl mb-6'>
							Main Conference
						</h3>
					</div>
					<div class="flex justify-center gap-14 pb-6">
						<a 
							href="https://docs.google.com/forms/d/e/1FAIpQLSdl9Z1tJLgJjcPQJFXjcsk9cFv8c4BFLeC35mhxIztEQcJvfw/viewform?usp=sf_link" 
							target="_blank" 
							rel="noopener noreferrer" 
							class="bg-ted-red text-white px-6 py-3 rounded-md hover:bg-red-700 transition-all"
						>
							Main Conference Speaker Application
						</a>
					</div>
					<p class="text-gray-700 mb-4" style="max-width: 600px; margin: auto;">
						We select speakers on a rolling basis, based on the power of their idea, 
						interpretation of the theme, and the talk's relevance to audiences from 
						the UC San Diego and greater San Diego community. We are looking for speakers 
						who can discuss the theme of Imitation in a unique way. More info on the form!
					</p>
				</div>
				<div class="bg-gray-100 border-2 border-gray rounded-md inline-block p-6" style="max-width: 800px; margin: auto; margin-left: 20px; margin-bottom: 40px;">
					<div>
						<h3 class='text-black-600 text-xl mb-6'>
							Salon
						</h3>
					</div>
					<div class="flex justify-center gap-14 pb-6">
						<a 
							href="https://docs.google.com/forms/d/e/1FAIpQLSe-PoPUgMBQb8WjhNJBAQn-f6aDfrf_WF_M93O-Yh6WhMFD5A/viewform" 
							target="_blank" 
							rel="noopener noreferrer" 
							class="bg-ted-red text-white px-6 py-3 rounded-md hover:bg-red-700 transition-all"
						>
							Salon Student Speaker Application
						</a>
					</div>
					<p class="text-gray-700 mb-4" style="max-width: 600px; margin: auto;">
						Our salon events are designed to give UCSD students a platform to give their 
						own TED talk on a topic that they are passionate about, while also having the 
						opportunity to engage with the larger student community. The event will take 
						place around week 8 of Winter Quarter. More info on the form!
 					</p>
				</div>
			</div>
		</div> -->
	</main>
</Layout>