<footer class='bg-footer-gray text-gray-200 py-10'>
	<div class='flex flex-row justify-center items-center gap-10'>
		<a href=''>
			<svg
				version='1.1'
				id='Layer_1'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				x='0px'
				y='0px'
				viewBox='0 0 56.7 56.7'
				enable-background='new 0 0 56.7 56.7'
				xml:space='preserve'
				class='text-gray-200 fill-current h-8'
			>
				<g>
					<path
						d='M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
                    c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z'
					></path>
					<circle cx='41.5' cy='16.4' r='2.9'></circle>
					<path
						d='M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
                    h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
                    s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
                    c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z'
					></path>
				</g>
			</svg>
		</a>
		<a href=''
			><svg
				enable-background='new 0 0 56.693 56.693'
				height='56.693px'
				id='Layer_1'
				version='1.1'
				viewBox='0 0 56.693 56.693'
				width='56.693px'
				xml:space='preserve'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				class='text-gray-200 fill-current h-8'
				><path
					d='M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z'
				></path></svg
			></a
		>
		<a href=''>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 448 512'
				class='text-gray-200 fill-current h-8'
			>
				<path
					d='M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z'
				></path></svg
			>
		</a>

		<a href=''
			><svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 576 512'
				class='text-gray-200 fill-current h-8'
			>
				<path
					d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'
				></path>
			</svg></a
		>
	</div>
	<p class='font-light pt-4 text-center text-gray-400'>
		Created and Designed by <a
			class='underline'
			href='https://www.arminsuraj.com'
			target='_blank'>Armin Suraj</a
		>
	</p>
</footer>
