<footer class='bg-footer-gray text-gray-200 pt-10 pb-6'>
	<div class='flex flex-row justify-center items-center gap-10'>
		<a href='https://www.instagram.com/tedxucsandiego/' target='_blank'>
			<svg
				version='1.1'
				id='Layer_1'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				x='0px'
				y='0px'
				viewBox='0 0 56.7 56.7'
				enable-background='new 0 0 56.7 56.7'
				xml:space='preserve'
				class='text-gray-200 fill-current h-8 hover:text-ted-red'
			>
				<g>
					<path
						d='M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
                    c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z'
					></path>
					<circle cx='41.5' cy='16.4' r='2.9'></circle>
					<path
						d='M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
                    h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
                    s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
                    c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z'
					></path>
				</g>
			</svg>
		</a>

		<a href="mailto:tedx@ucsd.edu" class="inline-block">
			<svg
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  class="text-gray-200 fill-current h-8 hover:text-ted-red transition-colors"
			>
			  <path d="M2.25 6.75A2.25 2.25 0 0 1 4.5 4.5h15a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75Zm2.25-.75a.75.75 0 0 0-.75.75v.334l7.883 4.845a.75.75 0 0 0 .784 0L21.75 7.084V6.75a.75.75 0 0 0-.75-.75H4.5Zm16.5 2.6-6.986 4.29a2.25 2.25 0 0 1-2.292 0L4.5 8.6v8.65a.75.75 0 0 0 .75.75h13.5a.75.75 0 0 0 .75-.75V8.6Z" />
			</svg>
		</a>		  

		<a href='https://www.linkedin.com/company/tedxucsandiego' target='_blank'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 448 512'
				class='text-gray-200 fill-current h-8 hover:text-ted-red'
			>
				<path
					d='M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z'
				></path></svg
			>
		</a>

		<a href='https://www.youtube.com/@TEDx' target='_blank'
			><svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 576 512'
				class='text-gray-200 fill-current h-8 hover:text-ted-red'
			>
				<path
					d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'
				></path>
			</svg></a
		>
	</div>
	<p class='font-light pt-8 text-center text-gray-400'>
		This independent TEDx event is operated under license from TED.
	</p>
	<!-- <p class='font-light pt-8 text-center text-gray-400'>
		Created and Designed by <a
			class='text-white hover:text-ted-red'
			href='https://www.arminsuraj.com'
			target='_blank'>Armin Suraj</a
		>
	</p> -->
</footer>
