---
const { title } = Astro.props;
---

<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width' />
<link rel='icon' type='image/x-icon' href='/favicon.png' />
<meta name='generator' content={Astro.generator} />
<title>{title}</title>
<meta
	name='description'
	content='Bringing together leading thinkers and doers to share ideas that matter'
/>
<meta name='theme-color' content='#ffffff' />

<meta property='og:title' content='TEDxUCSD' />
<meta property='og:type' content='website' />
<meta property='og:url' content='http://tedxucsd.com/' />
<meta property='og:image:width' content='1920' />
<meta property='og:image:height' content='1080' />
<meta property='og:image:alt' content='TEDxUCSD' />
<meta property='og:image' content='https://github.com/TEDxUCSD/tedxucsd-web/blob/master/public/website-thumbnail.png' /> 
<meta
	property='og:description'
	content='Bringing together leading thinkers and doers to share ideas that matter'
/>
<meta property='og:site_name' content='TEDxUCSD' />
<meta property='og:locale' content='en-US' />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:title' content='TEDxUCSD' />
<meta
	name='twitter:description'
	content='Bringing together leading thinkers and doers to share ideas that matter'
/>
<meta name='twitter:creator' content='@armzout' />
<meta name='twitter:image' content='https://github.com/TEDxUCSD/tedxucsd-web/blob/master/public/website-thumbnail.png' />
