---
import PersonCard from "./PersonCard.astro";
---

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 w-full gap-4">
  <PersonCard
    name="Narin Fazlalipour"
    text="Student Speaker"
    img="/event-img/2023/winter-salon/narin-fazlalipour.jpg"
    link="https://www.youtube.com/watch?v=example"
  />
  <PersonCard
    name="Arlene Nagtalon"
    text="Student Speaker"
    img="/event-img/2023/winter-salon/arlene-nagtalon.jpg"
    link="https://www.youtube.com/watch?v=example"
  />
  <PersonCard
    name="Ishika Rathi"
    text="Student Speaker"
    img="/event-img/2023/winter-salon/ishika-rathi.jpg"
    link="https://www.youtube.com/watch?v=example"
  />
  <PersonCard
    name="Charles Vu"
    text="Student Speaker"
    img="/event-img/2023/winter-salon/charles-vu.jpg"
    link="https://www.youtube.com/watch?v=example"
  />
  
</div>
