---
import PersonCard from "./PersonCard.astro";
---

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 w-full gap-4">
  <PersonCard
    name="Alex Rivera"
    text="Student Speaker"
    img="/event-img/salon/alex.png"
    link="https://www.youtube.com/watch?v=example"
  />
  <!-- Add more student speakers here -->
</div>
