---
import Banner from "../../components/Banner.astro";
import FeaturedTalk from "../../components/FeaturedTalk.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
---

<Layout title='Sixth Sense'>
	<Title
		date='May 18, 2019'
		title='A Space in the Spectrum'
		loc='Atkinson Hall, La Jolla CA'
		url='/events/2019/banner.png'
	/>
	<section class='bg-white px-6 w-full pb-4'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light mb-8 hidden md:block md:pt-8 md:mb-4'>
				Description
			</h2>
			<p class='text-gray-600 py-3'>Pick a point, any point.</p>
			<p class='text-gray-600 py-3'>
				Now, if you were to zoom into that point, you'd find your life play out
				before your eyes, your particular set of snapshots strung together into
				an all-too-familiar movie. But zoom back out, and the space spanned by
				your life story quickly collapses. All the details-- the emotions, the
				experiences, the moments that made you who you are-- get packaged into a
				personal time capsule, a punctuation mark on a galactic timeline barely
				inhabited by humanity.
			</p>
			<p class='text-gray-600 py-3'>
				How easy it is to lose yourself in the chaos of it all.
			</p>
			<p class='text-gray-600 py-3'>
				<em>"A Space in the Spectrum"</em> is the story of us. This theme captures
				our attempts to traverse the spectrum between our most intimate microcosms
				and the macrocosm too apathetic to learn even our names. It is here, in this
				inevitable struggle to balance the extreme dualities of our existence that
				we find perspective and ourselves: We can't hope to answer all the unknowns,
				but we can, however, fill in the space left for us. The universe only gives
				us a single point. But that’s enough space to capture a lifetime. And that's
				enough space to claim, <em>"This is who I am."</em>
			</p>
		</div>
	</section>
	<FeaturedTalk
		fname='Dana'
		lname='Wasson'
		title='Messages to my younger self'
		desc='Wouldn’t it be great if you could go back and whisper your wisdom to your younger self?Collecting her stories from childhood through post-college, Dana shares her own challenges and learnings, integrating them into the three key pieces of knowledge she wishes she could tell her younger self. '
		link='https://www.youtube.com/watch?v=DUlKmVt47yU'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='David'
		lname='Dolan'
		title='By Endurance We Conquer'
		desc="How do weacquire the ability to endure life's hardships and challenges? In his Talk, explorer David Dolan utilizes the examples of extraordinary explorers for inspiration do deal with his own challenges to survive and receive a life-threatening double lung transplant."
		link='https://www.youtube.com/watch?v=GDHqfBvWVwg'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Enrique'
		lname='Morones'
		title='The Power of One'
		desc='We all have the power, the power of one. Whether the best of times or the worst of times, how will you use the power? Enrique Morones chooses love.'
		link='https://www.youtube.com/watch?v=R3rvfCVFv0g'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Gary'
		lname='Ware'
		title='How Play Saved My Life'
		desc='We live in world where we constantly feel the need to prove ourselves and busyness and burnout are worn as a badge of honor. We hustle and grind in hopes that one day we’ll escape the rat race - and ultimately - be happy. What if there was an easier way to achieve success & happiness?'
		link='https://www.youtube.com/watch?v=EzE3pBr7EL8'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Issanna'
		lname='Loughman'
		title='Lock-It'
		desc='A nationwide and often unspoken issue, the treatment of children in psychiatric hospitals, is examined through the lens of research, patient narrative, and personal experience. Issanna Loughman discusses how the care of child patients is currently unequal across institutions and far from adequate, what current policies for treatment are and how they are abused, the lack of legal protection to keep children without a diagnosable mental illness from being forcibly committed, and the trauma experienced by both patients and their families.'
		link='https://www.youtube.com/watch?v=bWSF-yC3GwY'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Jack'
		lname='Goodwin'
		title='Scientists as citizens in a time of rapid environmental change'
		desc='After graduating from UC San Diego as an Outstanding Senior Award finalist with a degree in Aerospace Engineering in 2014, Jack went on to become a staff researcher and then fully funded graduate student in the Stanford University Plasma Physics Laboratory. While a graduate student, Jack met and then fell in love with Mallory Smith, a recent undergraduate alumni of Stanford and featured character in his TED talk. '
		link='https://www.youtube.com/watch?v=f-LczUlHAqA'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Natalya'
		lname='Gallo'
		title='Scientists as citizens in a time of rapid environmental change'
		desc='Science and policy shouldn’t mix. Yet, in this engaging talk, oceanographer and marine biologist Natalya Gallo speaks about the importance of scientists actively engaging in policy discussions — and how this powerful combination can solve the world’s greatest challenges. '
		link='https://www.youtube.com/watch?v=8bIeE95UwDk'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Pheobe'
		lname='Cornog'
		title="It's okay to be an artist."
		desc="When someone tells you they want to be an artist, does the word starving come to mind? That's usually the case and it needs to stop."
		link='https://www.youtube.com/watch?v=sx0HyDwSgXQ'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Scottie Jeannette'
		lname='Madden'
		title='What Would My Father Say?'
		desc='As the "first born,” “the chip off the ol’ block," and the only one to carry on the Madden family name, Scottie Jeanette Madden was born with a lot of expectations on her tiny little shoulders. As she climbed to the top of the adventure/survival reality TV biz, she lived in constant fear of“What Would her Father Say,”if she ever fell short, failed or... knew the truth.'
		link='https://www.youtube.com/watch?v=gV9rLYidRbI'
		color='gray'
		left
	/>
</Layout>
