---
import Banner from "../../components/Banner.astro";
import FeaturedTalk from "../../components/FeaturedTalk.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
---

<Layout title='Expiration Date'>
	<Title
		date='May 18, 2024'
		title='Expiration Date'
		loc='Price Center Theater, La Jolla, CA'
		bg='bg-expiration-date'
	/>
	<section class='bg-white px-6 w-full pb-4'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light mb-8 hidden md:block md:pt-8 md:mb-4'>
				Description
			</h2>
			<p class='text-gray-600 py-3'>
				"Expiration Date" explores the fleeting nature of existence, emphasizing how 
				the passage of time brings both progress and decline. This reflection extends 
				beyond the material world, touching on the expiration of ideas and societal norms. 
				It prompts consideration of whether expiration is arbitrary or predetermined, 
				urging proactive responses to time constraints. The ambiguity of expiration invites 
				innovation and nuance, highlighting the balance between temporariness and timeliness. 
				Ultimately, it invites contemplation on navigating life's transient journey amidst 
				constant change.
			</p>
		</div>
	</section>
	<FeaturedTalk
		fname='Megan'
		lname='Dickerson'
		title='Play: Our Mutant Survival Strategy'
		desc="Megan Dickerson is a leading figure in museums and play. As an experience designer and curator at Birch Aquarium and in previous roles, including Director of Exhibitions at The New Children's Museum and Senior Manager at Boston Children's Museum, she merges art, science, and community engagement to innovate museum practices. In her talk, “Play Our Mutant Survival Strategy”, Megan explores the concept of play as a crucial adaptive strategy, urging a reevaluation of how adults perceive and engage with play cues in our environment."
		link='https://www.youtube.com/watch?v=5WQahUdNvXI'
		color='white'
		left
	/>
	<FeaturedTalk
		fname='Tanya'
		lname='Taylor'
		title="You Can't Plan for the Unexpected: How to Financially Protect Your Lifestyle"
		desc='Tanya Taylor, with over two decades of experience in finance, is dedicated to breaking the cycle of poverty and fostering generational wealth. As an award-winning author and founder of Grow Your Wealth, she empowers women to build wealth by starting from where they are. With her extensive background on Wall Street, Tanya combines her personal journey from poverty to financial security to highlight the vulnerabilities people face, such as sudden disabilities. In her discussions, she offers practical steps to safeguard financial well-being for individuals and their families.'
		link='https://www.youtube.com/watch?v=aWQoe91QTKU&t=4s'
		color='gray'
		right
	/>
	<FeaturedTalk
		fname='Justin'
		lname='Scher'
		title='It’s Never Too Late to Change Your Dog’s Behaviors'
		desc="Justin Scher is a Certified Dog Behavioral Therapist and Master Trainer for Bark Busters Home Dog Training, with over 15 years of experience. He has won multiple international and U.S. awards for his expertise. Justin specializes in resolving any dog behavior issue and in his talk, “It’s Never Too Late to Change Your Dog’s Behaviors,” he disproves the myth that old dogs can’t learn new tricks. He explains how using the right communication tools and understanding canine psychology can transform the relationship between dogs and their owners, fostering a stress-free, harmonious environment."
		link='https://www.youtube.com/watch?v=R8nNvuRFaHQ'
		color='white'
		left
	/>
	<FeaturedTalk
		fname='Pascal'
		lname='Gagneux'
		title='We are the Planet Altering Ape'
		desc='Pascal Gagneux, a UC San Diego Professor of Pathology and Anthropology and Executive Co-Director of CARTA, focuses his research on cell-surface molecules in primates and the impact of glycan evolution. In his talk, "We are the Planet Altering Ape," Dr. Gagneux discusses how humans, with our technological advancements and rapid population growth, are driving the sixth mass extinction and potentially accelerating our own demise. He explores whether our unique human traits, such as cooperation, communication, imagination, and self-awareness, can help us overcome these critical global challenges.'
		link='https://www.youtube.com/watch?v=iLMRpvQUJQY&t=47s'
		color='gray'
		right
	/>
	<FeaturedTalk
		fname='Maria'
		lname='Ho'
		title='Decision Making Like a (Poker) Pro'
		desc='Maria Ho, a Hall of Fame professional poker player and TV broadcaster, has earned over $7 million from poker tournaments and is ranked #3 among female players worldwide. Inducted into the Women In Poker Hall of Fame in 2018, Maria is known for her expertise in making quick, effective decisions under pressure. In her discussions, she explores how to optimize decision-making processes in high-pressure situations, drawing parallels between poker strategies and everyday life choices.'
		link='https://www.youtube.com/@TEDx'
		color='white'
		left
	/>
</Layout>