---
import Banner from "../../components/Banner.astro";
import FeaturedTalk from "../../components/FeaturedTalk.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
---

<Layout title='Constellate'>
	<Title
		date='May 18, 2024'
		title='Expiration Date'
		loc='Online Conference'
		bg='bg-constellate'
	/>
	<section class='bg-white px-6 w-full pb-4'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light mb-8 hidden md:block md:pt-8 md:mb-4'>
				Description
			</h2>
			<p class='text-gray-600 py-3'>
				As we grow up, we begin to apply a logic-heavy filter on our dreams. We
				begin to cap ourselves, sell ourselves short, and compare ourselves to
				others in exchange for stability, status, and more. Yet our hearts still
				yearn for more, but with this filtered-perspective, we are ultimately
				left feeling hopeless.
			</p>
			<p class='text-gray-600 py-3'>
				<em>"Constellate"</em> returns us to a world of child-like wonder, a time
				when the questions we asked were beyond ourselves–a time when we were so
				furiously curious of the immense space called the Unknown.
			</p>
			<p class='text-gray-600 py-3'>
				<em>"Constellate"</em> reminds us that we can only connect the dots as we
				go. When we embrace the fact that we each play a unique part in a bigger
				story, then one day, we will together be in awe and peace when we step back
				and see how our paths have gathered us together and intertwined to form an
				intricate constellation far more beautiful and magnificent than we could
				have ever imagined.
			</p>
			<p class='text-gray-600 py-3'>
				So what do you say? Are you ready to traverse through a world of
				child-like wonder with us?
			</p>
		</div>
	</section>
	<FeaturedTalk
		fname='Jason'
		lname='Licker'
		title='How to Create Your Own Recipe for Success'
		desc='Jason uses his cross-culture culinary experiences to demonstrate the power held inside each of us to create our own recipes for success. Jason shows how his greatest loss ultimately led to discovering his passion and how he harnessed grief into exploration. From moving to Shanghai as a pastry chef, to becoming an award-winning cookbook author, to winning Iron Chef Thailand, Jason hopes that his experiences can serve as a guidebook for those in pursuit of living life as boldly and unapologetically as possible.'
		link='https://www.youtube.com/watch?v=TniMUOPcNtw'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Katherine'
		lname='Gray'
		title='Blown Away by Glass'
		desc='Artist and professor Katherine Gray recounts her inauspicious beginnings as an artist and educator. After receiving an unexpected and exciting opportunity, her career changed overnight. Through sharing her journey and experiences, she illustrates that one should never remain content that they’ve reached the peak of their career as they can never fully know their own potential. '
		link='https://www.youtube.com/watch?v=FuiC7V5fxQE'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Mayuko'
		lname='Inoue'
		title='How to Figure Out Who You Are as an Asian American'
		desc="Mayuko shares her experience growing up as Japanese American and the lessons learned throughout. From challenges of growing up as a minority, to finding purpose and fulfillment in her Software Engineering career, her mental health journey, and ultimately to her creating content on Youtube. In crafting together the different pieces of her life, she'll share what she's learned to helped her define and own her own identity"
		link='https://www.youtube.com/watch?v=v0yrY72n3tY'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Neftali'
		lname='Camacho'
		title='How We Can Transform Our Fear of Reptiles into Curiosity'
		desc="Neftali Camacho challenges our often fear-based perception of reptiles and explains the backstories of why many of us have negative associations with these animals. From the names humans have given reptiles to our portrayal of them in the media, Neftali pulls back the curtain, making us reevaluate respect for these creatures. Neftali's mission is to help us turn our fear into curiosity."
		link='https://www.youtube.com/watch?v=enojm2MXnIk'
		color='white'
		right
	/>
	<FeaturedTalk
		fname='Leon'
		lname='Logothetis'
		title='The Secret To Feeling Less Alone'
		desc='Author and TV Host Leon Logothetis makes an insightful and profound case about the power of feeling less alone through one simple act. Leon has documented his experience circumnavigating the world with no money in his popular Netflix show "The Kindness Diaries". This experience has informed Leon’s worldview, and taught him exactly how powerful connecting to our humanity truly is.'
		link='https://www.youtube.com/watch?v=Z2HI0KZpTxg'
		color='gray'
		left
	/>
	<FeaturedTalk
		fname='Eric'
		lname='Sullivan'
		title="There's More to Sports than Winning and Losing"
		desc='Eric outlines his experience as a youth sports coach and the transformational nature of this experience. Through observing and interacting with the kids on his teams, Eric has discovered a new perspective, learning valuable lessons which have completely and permanently altered his way of thinking about virtually every aspect of life.'
		link='https://www.youtube.com/watch?v=cRXAfAksqa8'
		color='white'
		right
	/>
</Layout>

---
import FeaturedTalk from "../components/FeaturedTalk.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource/playfair-display";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/700-italic.css";
---

<Layout title='TEDxUCSD'>
	<main class=''>
		<Hero />
		<section class='bg-white py-8 px-6 w-full'>
			<div
				class='md:max-w-5xl m-auto grid grid-cols-1 md:grid-cols-2 items-center'
			>
				<div>
					<h2 class='text-2xl font-medium text-gray-500 italic'>
						TEDxUCSanDiego Presents:
					</h2>
					<h1 class='text-3xl font-semibold text-ted-red'>EXPIRATION DATE</h1>
					<h3 class='text-gray-600'>May 18, 2024</h3>
				</div>
				<div>
					<p class='py-8 text-gray-700'>
						<span class='italic'>"Expiration Date"</span> explores the fleeting nature of
						existence, emphasizing how the passage of time brings both progress and decline.
						This reflection extends beyond the material world, touching on the expiration
						of ideas and societal norms. It prompts consideration of whether expiration is
						arbitrary or predetermined, urging proactive responses to time constraints. The
						ambiguity of expiration invites innovation and nuance, highlighting the balance
						between temporariness and timeliness. Ultimately, it invites contemplation on
						navigating life's transient journey amidst constant change. Join us for 
						TEDxUCSanDiego’s 12th annual conference for provocative talks, interactive 
						experiences, and to be a part of ideas worth spreading! Doors open at 3:00pm, event
						begins at 4:00pm.
					</p>
					<a class='bg-ted-red text-white p-3' href='https://lu.ma/wkloh6e6'>Tickets</a>
					</p>
					<a class='bg-ted-red text-white p-3' href='/expirationdate'>Learn more</a>
				</div>
			</div>
			</div>
			</div>
		</section>
		<h2 class='font-serif mt-12 text-center text-4xl text-gray-700'>
			Featured Talks from Our Past Events
		</h2>
		<FeaturedTalk
			fname='Christine'
			lname='Ha'
			title='How the Blind See the World'
			desc='Christine Ha talks about her personal experiences being blind and how it shaped her perspective on how people treat the disabled.  She sheds light on how many of the things we take for granted everyday are not always so accommodating to others who deal with disabilities. '
			link='https://www.youtube.com/watch?v=tWmjHn6mfjc'
			poster='/thumb1.png'
			color='white'
			left
		/>
		<FeaturedTalk
			fname='Rose'
			lname='Schindler'
			title='Surviving Auschwitz, you had to have guts'
			desc='Rose Schindler was born and raised in Seredne, Czechoslovakia. Rose was deported to Auschwitz II-Birkenau along with her parents, aunt, five sisters and two brothers when she was just 14 years old. This is the personal story of Rose surviving the Holocaust, starting a new life, ultimately finding love, joy and her life’s purpose.'
			link='https://www.youtube.com/watch?v=hpyH130ZOTk'
			poster='/thumb2.jpg'
			color='gray'
			left
		/>
		<FeaturedTalk
			fname='Mayuko'
			lname='Inoue'
			title='How to Figure Out Who You Are as an Asian American'
			desc="Mayuko shares her experience growing up as Japanese American and the lessons learned throughout. From challenges of growing up as a minority, to finding purpose and fulfillment in her Software Engineering career, her mental health journey, and ultimately to her creating content on Youtube. In crafting together the different pieces of her life, she'll share what she's learned to helped her define and own her own identity"
			link='https://www.youtube.com/watch?v=v0yrY72n3tY'
			poster='/thumb3.jpg'
			color='white'
			left
		/>
		<FeaturedTalk
			fname='Robert'
			lname='Kiyosaki'
			title='Why the Rich are Getting Richer'
			desc='Robert Kiyosaki is an entrepreneur and the author of “Rich Dad Poor Dad”, the #1 bestselling personal finance book of all time.  In his talk, he discusses the power of financial education and how it relates to income inequality'
			link='https://www.youtube.com/watch?v=abMQhaMdQu0'
			poster='/thumb4.png'
			color='gray'
			left
		/>
	</main>
</Layout>