---
import Banner from "../../components/Banner.astro";
import EventCard from "../../components/EventCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Events'>
	<Banner url='/events.png' />
	<section class='bg-white py-8 px-6 w-full'>
		<div class='md:max-w-5xl m-auto'>
			<h2 class='text-3xl font-light mb-8'>Events</h2>
			<div class='grid gap-6 grid-cols-1 md:grid-cols-2'>
				<EventCard
					title='Sixth Sense'
					year='2022'
					img='/events/2022/thumb.png'
					slug='6sense'
				/>
				<EventCard
					title='Constellate'
					year='2021'
					img='/events/2021/thumb.png'
					slug='constellate'
				/>
				<EventCard
					title='Rebooted'
					year='2020'
					img='/events/2020/thumb.png'
					slug='rebooted'
				/>
				<EventCard
					title='A Space in the Spectrum'
					year='2019'
					img='/events/2019/thumb.png'
					slug='asits'
				/>
			</div>
		</div>
	</section>
</Layout>
